name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 72.62.64.184
          username: deploy
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd /var/www/project
            git pull origin main
            pm2 restart all
